/* You can add global styles to this file, and also import other style files */

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(to right, rgba(7, 27, 82, 1), rgba(0, 128, 128, 1));
}

@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}